<div class="center hero-unit">
	<h1>Hash Cookies Invoice App</h1>
	<p>
		This is the home page, suckers. Deal with it..
	</p>
	
	<%= link_to "Sign up now!", "#", class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("hc-promo.png", alt: "Rails"), "http://rails.org/" %>