<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<p><strong><%= @client.name %></strong></p>
    <p>Thank you for your payment. Your invoice <%= @invoice.id %> has been marked paid. You may download a PDF and print it.</p>
  </body>
</html>