<% provide(:title, "All Invoices") %>


<% if @single_client.nil? %>
	
<% else %>
	<%= link_to "All Invoices", invoices_path %> >
	<span><%= @client.name %>'s Invoices</span>
<% end %>

<%= render 'list_invoices' %>

<%= link_to 'New Invoice', new_invoice_path, class: "btn btn-primary" %>
