@import "bootstrap";
@import "bootstrap/theme";
@import "global.css.scss";


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

header, .debug_dump {
	margin: 50px auto;
}

body {
	font-family:  $primary;
	background: white;
	color: $primary-dark;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $primary;
}

.main {
	background: white;
	margin-top: 50px;
}


.navbar {
	@include td(400ms);
	background: white !important;
	box-shadow: none;
	width: 100%;
	border: none;
	margin: 0 auto;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	
	a {
		color: #333 !important;
	}	
	.navbar-brand {
		text-transform: uppercase;
		font-weight: bold;
		font-family: "Futura Std", "Avenir Next", sans-serif;
		color: $homered !important;	
	}
	
	.navbar-nav {
		li {
			font-size: 20px;
			font-weight: 100;
			a {
				padding: 15px 25px;
			}
		}
		.active > a {
			background: #ec604e;
			color: white !important;
			text-shadow: none;
			box-shadow: none;
			&:hover {
				background: darken($homered, 10%);
			}
		}	
	} 
}



#footer {
	max-width: 1150px;
	margin: 20px auto;
	text-align: center;	
}

.alert {
	color: white;
	font-weight: bold;
	font-size: 16px;
}

.alert-success {
	background: $flatBlue;	
}

.alert-error {
	background: #e74c3c;
}

.alert-notice {
	background: #16a085;
}

.invoice-list {
	thead {
		tr {
			border-bottom: 1px solid #eee;
			th {
				font-size: 14px;
				color: $primary-dark;
				text-transform: uppercase;
			}
		}
	}
	tbody {
		border: none !important;
		tr {
			border: none;
			border-bottom: 1px solid #eee;
			td {
				padding: 20px 8px;
				border: none;
				font-size: 18px;
				&:first-child {
					font-size: 22px;
					font-weight: 100;
					a {
						color: $flatBlue;
					}
				}
				a {
					color: inherit;
				}
			}
		} 	
	}
	
} 

.new-invoice-btn {
	font-size: 32px;
}


@media (min-width: 1000px) {
	.navbar-header {
		width: 100%;
		overflow: auto;
		.navbar-brand {
			float: none;
			padding-left: 40px;
			display: block;
			font-size: 24px;
		}
	}
	.navbar {
		float: left;
		height: 100%;
		position: absolute;
		top: 0;
		padding-top: 20px;
		
		width: 210px;
		overflow: auto;
		border-right: 1px solid #eee;
		.navbar-nav { 
			float: none !important;
			li {
				float: none;
				text-align: left;
				font-size: 16px;
			}
		} 
		
	}
	
	.main {
		margin-left: 250px;
	}
	
	}