// Place all the styles related to the invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "global.css.scss";

.invoice-wrapper {
	margin-top: 5px;
}

.invoice-header {
	margin: 0 auto;
	padding-bottom: 20px;
	overflow: auto;
	img {
		float: left;
		margin-right: 20px;
		margin-top: 10px;
	}
	.inv-company-title {
		font-size: 32px;
		font-weight: bold;
		margin-bottom: 0;
		text-transform: uppercase;
		float: left;
		.inv-date {
			display: block;
			margin-top: -7px;
			font-size: 16px;
			font-weight: normal;				
		}
	}
}

.stripe {
	height: 5px;
	border-radius: 5px;
	width: 100%;
	background: url(bg-stripes.png) fixed;
}

.inv-client-info {
	overflow: auto;
	margin-bottom: 10px;
	margin-top: 10px;
	.inv-proj {
		float: left;
		.inv-project-title {
			font-weight: bold;
			color: $black;
			font-size: 22px;
			span {
				display: block;
				font-size: 14px;
				font-weight: normal;		
				text-transform: uppercase;
				margin-bottom: 5px;
			}
		}
	}
	
	.inv-client {
		float: right;
		text-align: right;
		.inv-client-name {
			font-size: 22px;
			font-weight: bold;
		}
		.inv-client-address {
			font-size: 14px;
		}
	}
}

.inv-type {
	font-size: 18px;
	text-transform: uppercase;
}


.invoice-details {
	font-family: $primary;
	table {
		margin-bottom: 0;
		thead tr {
			border-top: none;
			th {
				border-bottom: none !important;
				
				padding: 8px 0 !important;
				text-transform: uppercase;
			}
		}
		tr {
			border-top: 1px solid $borderc;
			td {
				border-top: none;
				padding: 15px 0 10px;
				.item-title {
					font-size: 18px;
					font-weight: bold;
					margin-bottom: 0;
				}
				.item-desc {
					font-size: 14px;
					color: $grey;
				}
				.item-amount {
					font-size: 18px;
				}
			}
		}
		.row-discount {
			font-family: $serif;
			font-size: 18px;
			.title {
				font-style: italic;
				font-size: 18px;
			}
		}
	}
	.item-total {
		width: 100%;
		text-align: right;
		font-size: 18px;
		
		padding: 10px 0px 0px;
		font-weight: bold;
		border-top: 1px solid $borderc;
		span {
			font-weight: normal;
			display: inline-block;
			border-right: 4px solid white;
			margin-right: 5px;
			font-family: $serif;
			font-style: italic;
		}
	}
}



.invoice-footer {
	padding: 10px 0;
	border-top: 1px solid $borderc;
	overflow: auto;
	ul {
		margin-left: 0;
		padding-left: 0;
		margin-top: 5px;
		li {
			float: left;
			list-style: none;
			margin: 0 5px;
			padding: 0 15px;
			border-left: 1px solid $borderc;
			&:first-child {
				border-left: none;
			}
		}
	}
	.user-name {
		font-size: 22px;
		margin-bottom: 0;
		border-right: 1px solid $borderc;
		padding-right: 10px;
		margin-right: 7px;
		display: inline-block;
	}
	.user-title {
		display: inline-block;
		text-transform: uppercase;
		font-weight: bold;
	}
	.inv-user {
		padding-bottom: 15px;
	}
}

.invoice-notes {
	padding: 20px 0;
	max-width: 900px;
}

.invoice-controls {
	padding-top: 15px;
	background: #f3f6f8;
	border-radius: 5px;
	border: 1px solid $borderc;
	padding: 2.5% 5%;
	text-align: center;
	.paid-form {
		.paid {
			font-weight: bold;
			text-transform: uppercase;
			font-size: 22px;	
			margin-top: 5px;
			display: inline-block;
		}
		.btn {
			margin-left: 10px;
			margin-top: -7px;
		}
	} 
	
}

.inv-nav {
	margin-top: 15px;
}

.list-project-title {
	width: 20%;
}

.list-client-name {
	width: 20%;
}

.table.list {
	tbody {
		border-right: 1px solid #eee;
		border-left: 1px solid #eee;
		border-bottom: 1px solid #eee;
		border-radius: 5px;
		overflow: hidden;
	}
	thead th {
		border-bottom: none !important;
	}	
}

.new_invoice {
	input, textarea {
		border: none;
		box-shadow: none;
		height: auto;
		&:focus {
			box-shadow: none;
		}
	}
	.field-invoice-title {
		margin-top: 10px;
		margin-bottom: 20px;
		padding: 0;
		input {
			font-size: 48px;
			font-weight: 100;
			&:focus {
				box-shadow: none;
			}
		}
	}
	.field-discount {
		border-left: 1px solid $borderc;
		padding-bottom: 20px;
		input {
			padding:  0;
		}
	}
	.field-notes {
		textarea {
			resize: none;
			padding: 0;
		}
	}
	.field-submit {
		margin-bottom: 10px;
		.btn {
			text-transform: uppercase;
			font-weight: bold;
			font-size: 14px;
		}
	}
	.field-invoice-items {
		padding-bottom: 10px;
		.invoice-item-row {

			border-bottom: 1px solid $borderc;
			padding: 20px 0 0;
			margin-bottom: 0;
			textarea, input {
				resize: none;
				color: $primary-dark;
			}
			.field-item-title {
				font-size: 18px;
				font-weight: bold;
				padding-bottom: 0;
			}
			.field-item-desc {
				font-family: $serif;
				font-style: italic;
			}
			.invoice-item-amount {
				border-left: 1px solid $borderc;
				padding-bottom: 20px;
				input {
					font-size: 18px;
					font-weight: bold;
					font-family: $serif;
					font-style: italic;
				}	
			}
			.close-btn {
				border-left: 1px solid $borderc;
				text-align: center;
				border-right: 1px solid $borderc;
				a {
					float: none;
					font-size: 40px;
				}
			} 
		}
	}
	.field-add-item {
		padding-bottom: 20px;
		margin-top: 20px;
	}
}



.add_fields {
	margin-top: 15px;
	
}

